p {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #1784c7;
}

.dash-card {
    display: flex;
    flex-wrap: row;
    flex-wrap: wrap;
  }

  .item {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
  }
