<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
    <h1 class="text-center">Class Dashboard</h1>

    <div>
        <h2>View Class</h2>
        <br><br>
        <div>
            <strong>Student Name:</strong> {{ students[0].student_name  }}<br>
            <strong>ID No.:</strong> {{ students[0].student_number  }}<br>
            <strong>Department:</strong> {{ students[0].department }}<br>
            <strong>Year Level:</strong> {{ students[0].year_level }}<br>
            <strong>Courses:</strong> {{ students[0].course }}<br>
            <strong>Username:</strong> {{ students[0].username }}<br>
            <strong>Password:</strong> {{ students[0].password }}<br><br>
          </div>
        </div>
    </div>