<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div id="mySidenav" class="sidenav">
	  <p class="logo"><span>Admin</span>-Page</p>
	  <a href="admin-dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i>	Dashboard</a>
	  <a href="admin-teachers"class="icon-a"><i class="fa fa-id-badge icons"></i>		Teachers</a>
	  <a href="admin-students"class="icon-a"><i class="fa fa-id-card icons"></i>		Students</a>
	  <a href="admin-class"class="icon-a"><i class="fa fa-th icons"></i>				Classes</a>
	  <a href="admin-subject"class="icon-a"><i class="fa fa-list icons"></i>			Subjects</a>
	  <a href="admin-teachclass"class="icon-a"><i class="fa fa-bars icons"></i>			Teacher -> Class</a>
	  
	  <!--<a href="grades"class="icon-a"><i class="fa fa-book"></i>   Grades</a>
	  <a href="subjectlist"class="icon-a"><i class="fa fa-book"></i>   View List Subject</a>
	  <a href="schoolyear"class="icon-a"><i class="fa fa-list"></i>   School Year</a>
	  <a href="quiz"class="icon-a"><i class="fa fa-book"></i>  Quizzes & Exams</a>
	  <a href="passed"class="icon-a"><i class="fa fa-book"></i>  Passed Students</a>
	  <a href="failed"class="icon-a"><i class="fa fa-book"></i>  Failed Students</a>-->
	  <a href="login"class="icon-a"><i class="fa fa-arrow-left"></i>   Logout</a>
	</div>

	<div id="main">
		<div class="head">
			<div class="col-div-6">
	            <span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >Dashboard Grading System</span>
	        </div>
		
		<div class="col-div-6">
		    <div class="profile">
                <img src="assets/images/admin.png" class="pro-img" />
                <p>Admin <span>BSIT 3-1</span></p>
		    </div>
	    </div>

		    <div class="clearfix"></div>
	    </div>

		
	</div>
</body>

	  

