<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div id="mySidenav" class="sidenav">
		<div class="profile d-flex justify-content-center align-items-center">
			<img src="assets/images/admin.png" class="pro-img mx-auto d-block" />
			<p>Admin <span>BSIT 3-1</span></p>
		</div>
		
		<p class="logo"><span>Admin</span>-Page</p>
		<a href="admin-dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
		<a href="admin-teachers" class="icon-a"><i class="fa fa-id-badge icons"></i> Teachers</a>
		<a href="admin-students" class="icon-a"><i class="fa fa-id-card icons"></i> Students</a>
		<a href="admin-class" class="icon-a"><i class="fa fa-th icons"></i> Classes</a>
		<a href="admin-subject" class="icon-a"><i class="fa fa-book icons"></i> Courses</a>
		<!--<a href="admin-teachclass" class="icon-a"><i class="fa fa-list icons"></i> Teacher -> Class</a>-->
		<a href="login" class="icon-a"><i class="fa fa-arrow-left"></i> Logout</a>
	</div>
</body>

	  

