<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
<div id="main">
    <div class="head">
        <div class="col-div-6">
            <span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >Subjects Grading System</span>
        </div>
    
    <div class="col-div-6">
        <div class="profile">
            <img src="assets/images/admin.png" class="pro-img" />
            <p>Admin <span>BSIT 3-1</span></p>
        </div>
    </div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="container mt-4">
    <h1 class="text-center">Subject Dashboard</h1>

    <!-- Add Student Form -->
    <div *ngIf="!showSubjectRecords">
        <h2>Add Subject</h2>
        <form [formGroup]="addForm" (ngSubmit)="addSubject()">
          <div class="form-group">
            <label for="subjectName">Subject Name:</label>
            <input type="text" class="form-control" id="subjectName" formControlName="subjectName">
          </div>

          <div class="form-group">
            <label for="subjectCode">Subject Code:</label>
            <input type="text" class="form-control" id="subjectCode" formControlName="subjectCode">
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-secondary record-btn" (click)="toggleSections()">Records</button>
        </form>
      </div>

    <!-- Student Records -->
    <div *ngIf="showSubjectRecords">
        <div *ngIf="showSubjectRecords">
            <div class="mb-3">
              <div class="d-flex justify-content-between">
                <button class="btn btn-secondary return-btn btn-sm" (click)="toggleSections()" style="height: 38px;">Add New</button>
                <div class="d-flex">
                  <input type="text" class="form-control mr-2" id="search" [(ngModel)]="searchTerm" placeholder="Enter subject name" style="width: 200px;">
                  <button class="btn btn-primary btn-sm" type="button" (click)="searchSubjects()" style="height: 38px;">Search</button>
                  <button class="btn btn-secondary return-btn" (click)="resetSearch()">Reset Table</button>
                </div>
              </div>
            </div>

        <h2>Subject Records</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subject Name</th>
                    <th>Subject Code</th>
                    <th colspan="3" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects; let i = index">
                    <td>{{ subject.subjectName }}</td>
                    <td>{{ subject.subjectCode }}</td>
                    <td colspan="3" class="text-center">
                        <button class="btn btn-info btn-sm" (click)="viewSubject(i)">View</button>
                        <button class="btn btn-warning btn-sm edit-btn" (click)="editSubject(i)">Edit</button>
                        <button class="btn btn-danger btn-sm delete-btn" (click)="deleteSubject(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
