<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
<div class="container mt-4">
  <h1 class="text-center">Student Dashboard</h1>

  <!-- Records Section -->
  <div *ngIf="currentSection === 'records'">
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary return-btn" (click)="toggleSection('add-form')">Add Student</button>

      <!-- Search Bar 
      <div class="form-group d-flex justify-content-end">
        <div class="input-group">
          <input type="text" class="form-control" id="searchTerm" [(ngModel)]="searchTerm" placeholder="Enter search term" style="max-width: 200px;">
          <div class="input-group-append">
            <button class="btn btn-primary ml-2" (click)="searchRecords()">Search</button>
            <button class="btn btn-secondary ml-2" (click)="resetSearch()">Reset</button>
          </div>
        </div>
      </div>-->
    </div>

      <h2>All Student Record</h2>

      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Student Name</th>
                  <th>ID No</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody id="subjectList">
              <!-- Loop through recordsData and display rows -->
              <tr *ngFor="let record of filteredRecordsData">
                <td>{{ record.student_name   }}</td>
                <td>{{ record.student_number  }}</td>
                <td>
                    <button class="btn btn-info" (click)="viewRecord(record)">View</button>
                    <button class="btn btn-warning ml-2" (click)="editRecord(record)">Edit</button>
                    <button class="btn btn-danger ml-2" (click)="deleteRecord(record)">Delete</button>
                </td>
            </tr>
            
          </tbody>
      </table>
  </div>

                    

  
  <!-- Add Form Section -->
  <div *ngIf="currentSection === 'add-form'">
    <button class="btn btn-secondary" (click)="toggleSection('records')">Back to Records</button>
    <br><br>
    <h2>Add Student</h2>
    <form id="addForm" (submit)="submitForm()">
          <div class="form-group">
              <label for="student">Student Name:</label>
              <input [(ngModel)]="student_name" name="student" type="text" class="form-control" id="student" required>
          </div>
          <div class="form-group">
              <label for="IDNo">ID No.:</label>
              <input [(ngModel)]="student_number" name="IDNo" type="text" class="form-control" id="IDNo" required>
          </div>
          <div class="form-group">
              <label for="department">Department:</label>
              <input [(ngModel)]="department" name="department" type="text" class="form-control" id="department" required>
          </div>
          <div class="form-group">
              <label for="yearLevel">Year Level:</label>
              <input [(ngModel)]="year_level" name="yearLevel" type="text" class="form-control" id="yearLevel" required>
          </div>
          <div class="form-group">
              <label for="courses">Courses:</label>
              <input [(ngModel)]="course" name="courses" type="text" class="form-control" id="courses" required>
          </div>
          <div class="form-group">
              <label for="username">Username:</label>
              <input [(ngModel)]="username" name="username" type="text" class="form-control" id="username" required>
          </div>
          <div class="form-group">
              <label for="password">Password:</label>
              <input [(ngModel)]="password" name="password" type="text" class="form-control" id="password" required>
          </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>



  <!-- View Form Section -->
  <div *ngIf="currentSection === 'view-form' && selectedRecord">
  <button class="btn btn-secondary" (click)="toggleSection('records')">Back to Records</button>
  <br><br>
  <h2>View Student</h2>
  <br><br>
  <div>
    <strong>Student Name:</strong> {{ selectedRecord?.student_name  }}<br>
    <strong>ID No.:</strong> {{ selectedRecord?.student_number  }}<br>
    <strong>Department:</strong> {{ selectedRecord?.department }}<br>
    <strong>Year Level:</strong> {{ selectedRecord?.year_level }}<br>
    <strong>Courses:</strong> {{ selectedRecord?.course }}<br>
    <strong>Username:</strong> {{ selectedRecord?.username }}<br>
    <strong>Password:</strong> {{ selectedRecord?.password }}<br><br>
  </div>
</div>
  



  <!-- Edit Form Section -->
  <div *ngIf="currentSection === 'edit-form'">
    <button class="btn btn-secondary" (click)="toggleSection('records')">Back to Records</button>
    <br><br>
    <h2>Edit Student</h2>
    <form id="editForm" (submit)="updateRecord()">
      <div class="form-group">
        <label for="editStudent">Student Name:</label>
        <input [(ngModel)]="editingRecord.student_name" name="editStudent" type="text" class="form-control" id="editStudent" required>
    </div>
    <div class="form-group">
        <label for="editIDNo">ID No.:</label>
        <input [(ngModel)]="editingRecord.student_number" name="editIDNo" type="text" class="form-control" id="editIDNo" required>
    </div>
    <div class="form-group">
        <label for="editDepartment">Department:</label>
        <input [(ngModel)]="editingRecord.department" name="editDepartment" type="text" class="form-control" id="editDepartment" required>
    </div>
    <div class="form-group">
        <label for="editYearLevel">Year Level:</label>
        <input [(ngModel)]="editingRecord.year_level" name="editYearLevel" type="text" class="form-control" id="editYearLevel" required>
    </div>
    <div class="form-group">
        <label for="editCourses">Courses:</label>
        <input [(ngModel)]="editingRecord.course" name="editCourses" type="text" class="form-control" id="editCourses" required>
    </div>
    <div class="form-group">
        <label for="editUsername">Username:</label>
        <input [(ngModel)]="editingRecord.username" name="editUsername" type="text" class="form-control" id="editUsername" required>
    </div>
    <div class="form-group">
        <label for="editPassword">Password:</label>
        <input [(ngModel)]="editingRecord.password" name="editPassword" type="text" class="form-control" id="editPassword" required>
    </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
  