<div id="main">
    <div class="head">
        <div class="col-div-6">
            <span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >Teacher/Class Grading System</span>
        </div>
    
    <div class="col-div-6">
        <div class="profile">
            <img src="assets/images/admin.png" class="pro-img" />
            <p>Admin <span>BSIT 3-1</span></p>
        </div>
    </div>

        <div class="clearfix"></div>
    </div>
</div>

<h1>Teacher -> Class</h1>


<br><br>


<div class="dash-card">
    <app-card *ngFor="let item of teachClassData"
        title="{{item.classNameBlock}}"
        value="{{item.teacherName}}"
        design="design2"
    ></app-card>
</div>