<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div id="mySidenav" class="sidenav">
		<div class="profile d-flex justify-content-center align-items-center">
			<img src="assets/images/admin.png" class="pro-img mx-auto d-block" />
			<p>Student <span>BSIT 3-1</span></p>
		</div>
		
		<p class="logo"><span>Student</span>-Page</p>
		<a href="student-dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
		<a href="student-class" class="icon-a"><i class="fa fa-th icons"></i> View Class</a>
		<a href="student-score" class="icon-a"><i class="fa fa-star-half-o icons"></i> View Scores</a>
		<a href="login" class="icon-a"><i class="fa fa-arrow-left"></i> Logout</a>
	</div>
</body>

	  

