<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div id="mySidenav" class="sidenav">
		<div class="profile d-flex justify-content-center align-items-center">
			<img src="assets/images/admin.png" class="pro-img mx-auto d-block" />
			<p>Teacher <span>CECT</span></p>
		</div>
		
		<p class="logo"><span>Teacher</span>-Page</p>
		<a href="teacher-dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
		<a href="teacher-class" class="icon-a"><i class="fa fa-th icons"></i> View Class</a>
		<a href="teacher-student" class="icon-a"><i class="fa fa-th icons"></i> Add Student</a>
		<a href="teacher-grade" class="icon-a"><i class="fa fa-th icons"></i> Grades</a>
		<a href="login" class="icon-a"><i class="fa fa-arrow-left"></i> Logout</a>
	</div>
</body>

	  

