<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
<div class="container mt-4">
  <h1 class="text-center">Teacher Dashboard</h1>

  <!-- Records Section -->
  <div *ngIf="currentSection === 'records'">
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary return-btn" (click)="toggleSection('add-form')">Add Teacher</button>

      <!-- Search Bar -->
      <div class="form-group d-flex justify-content-end">
        <div class="input-group">
          <input type="text" class="form-control" id="searchTerm" [(ngModel)]="searchTerm" placeholder="Enter search term" style="max-width: 200px;">
          <div class="input-group-append">
            <button class="btn btn-primary ml-2" (click)="searchRecords()">Search</button>
            <button class="btn btn-secondary ml-2" (click)="resetSearch()">Reset</button>
          </div>
        </div>
      </div>
    </div>

      <h2>All Teacher Record</h2>

      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Teacher Name</th>
                  <th>Employee ID</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody id="subjectList">
              <!-- Loop through recordsData and display rows -->
              <tr *ngFor="let record of filteredRecordsData">
                <td>{{ record.teacher_name }}</td>
                <td>{{ record.employee_number }}</td>
                <td>
                    <button class="btn btn-info" (click)="viewRecord(record)">View</button>
                    <button class="btn btn-warning ml-2" (click)="editRecord(record)">Edit</button>
                    <button class="btn btn-danger ml-2" (click)="deleteRecord(record)">Delete</button>
                </td>
            </tr>
            
          </tbody>
      </table>
  </div>

                    

  
  <!-- Add Form Section -->
  <div *ngIf="currentSection === 'add-form'">
    <button class="btn btn-secondary" (click)="toggleSection('records')">Back to Records</button>
    <br><br>
    <h2>Add Teacher</h2>
    <form id="addForm" (submit)="submitForm()">
          <div class="form-group">
              <label for="teacher">Teacher Name:</label>
              <input [(ngModel)]="teacher_name" name="teacher" type="text" class="form-control" id="teacher" required>
          </div>
          <div class="form-group">
              <label for="employeeID">Employee ID:</label>
              <input [(ngModel)]="employee_number" name="employeeID" type="text" class="form-control" id="employeeID" required>
          </div>
          <div class="form-group">
              <label for="contact">Contact Information:</label>
              <input [(ngModel)]="email_address" name="contact" type="text" class="form-control" id="contact" required>
          </div>
          <div class="form-group">
              <label for="courses">Courses:</label>
              <input [(ngModel)]="courses" name="courses" type="text" class="form-control" id="courses" required>
          </div>
          <div class="form-group">
              <label for="classes">Classes:</label>
              <input [(ngModel)]="classes" name="classes" type="text" class="form-control" id="classes" required>
          </div>
          <div class="form-group">
              <label for="username">Username:</label>
              <input [(ngModel)]="username" name="username" type="text" class="form-control" id="username" required>
          </div>
          <div class="form-group">
              <label for="password">Password:</label>
              <input [(ngModel)]="password" name="password" type="text" class="form-control" id="password" required>
          </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>



  <!-- View Form Section -->
  <div *ngIf="currentSection === 'view-form' && selectedRecord">
  <button class="btn btn-secondary" (click)="toggleSection('records')">Back to Records</button>
  <br><br>
  <h2>View Teacher</h2>
  <br><br>
  <div>
    <strong>Teacher Name:</strong> {{ selectedRecord?.teacher_name }}<br>
    <strong>Employee ID:</strong> {{ selectedRecord?.employee_number }}<br>
    <strong>Contact Information:</strong> {{ selectedRecord?.email_address }}<br>
    <strong>Courses:</strong> {{ selectedRecord?.courses }}<br>
    <strong>Classes:</strong> {{ selectedRecord?.classes }}<br>
    <strong>Username:</strong> {{ selectedRecord?.username }}<br>
    <strong>Password:</strong> {{ selectedRecord?.password }}<br><br>
  </div>
</div>
  



  <!-- Edit Form Section -->
  <div *ngIf="currentSection === 'edit-form'">
    <button class="btn btn-secondary" (click)="toggleSection('records')">Back to Records</button>
    <br><br>
    <h2>Edit Teacher</h2>
    <form id="editForm" (submit)="updateRecord()">
      <div class="form-group">
        <label for="editTeacher">Teacher Name:</label>
        <input [(ngModel)]="editingRecord.teacher_name" name="editTeacher" type="text" class="form-control" id="editTeacher" required>
    </div>
    <div class="form-group">
        <label for="editEmployeeID">ID No.:</label>
        <input [(ngModel)]="editingRecord.employee_number" name="editEmployeeID" type="text" class="form-control" id="editEmployeeID" required>
    </div>
    <div class="form-group">
        <label for="editContact">Contact Information:</label>
        <input [(ngModel)]="editingRecord.email_address" name="editContact" type="text" class="form-control" id="editContact" required>
    </div>
    <div class="form-group">
        <label for="editCourses">Courses:</label>
        <input [(ngModel)]="editingRecord.courses" name="editCourses" type="text" class="form-control" id="editCourses" required>
    </div>
    <div class="form-group">
        <label for="editClasses">Classes:</label>
        <input [(ngModel)]="editingRecord.classes" name="editClasses" type="text" class="form-control" id="editClasses" required>
    </div>
    <div class="form-group">
        <label for="editUsername">Username:</label>
        <input [(ngModel)]="editingRecord.username" name="editUsername" type="text" class="form-control" id="editUsername" required>
    </div>
    <div class="form-group">
        <label for="editPassword">Password:</label>
        <input [(ngModel)]="editingRecord.password" name="editPassword" type="text" class="form-control" id="editPassword" required>
    </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
  