<div class="content-box">
    <p>List of Students Enrolled</p>
    <br/>
    <table>
<tr>
<th>Student</th>
<th>Contact</th>
<th>Email</th>
</tr>
<tr>
<td>Joshua Salasayo</td>
<td>+123456789</td>
<td>joshua@gmail.com</td>
</tr>
<tr>
<td>Lynel Buan</td>
<td>+123456789</td>
<td>lynel@gmail.com</td>
</tr>
<tr>
<td>Lyca Salazar</td>
<td>+123456789</td>
<td>lyca@gmail.com</td>
</tr>
<tr>
<td>Mark Anthony Franco</td>
<td>+123456789</td>
<td>franco@gmail.com</td>
</tr>
<tr>
<td>Louis Navarro</td>
<td>+123456789</td>
<td>louis@gmail.com</td>
</tr>
</table>
</div>