.content-box{
	padding: 20px;
    background: #272c4a;
    border-radius: 25px;
    margin: 16px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f9f9f9;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  text-align: left;
  padding:15px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
  
}